{{define "theme-custom/home"}}
<!-- 头部 -->
{{template "common/header" .}}
<script src="https://im.1l1.icu"></script>
<script>
  document.querySelector('html').classList.add("mdui-theme-auto");
</script>

<!-- Vue3 -->
<script src="https://fnj.1l1.icu/unpkg/vue@3/dist/vue.global.js"></script>
<!-- MDUI2 -->
<link rel="stylesheet" href="https://fnj.1l1.icu/unpkg/mdui@2.0.3/mdui.css">
<script src="https://fnj.1l1.icu/unpkg/mdui@2.0.3/mdui.global.js"></script>
<!-- IonIcons -->
<script type="module" src="https://fnj.1l1.icu/unpkg/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://fnj.1l1.icu/unpkg/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style>
  body {
    background: none;
  }
  .ui {
    display: none !important;
  }
  .ioic {
    transform: translate(0, 3px);
  }
  .uptime {
    float: right;
    margin-top: 0.3rem;
    margin-right: 1rem;
  }
  .country {
    margin: 5px;
    height: 2.5rem;
    width: 2.5rem;
    transform: translate(0, -5px);
  }
  .sv-desc {
    margin: 1.5rem;
  }
  .sv-card {
    width: 400px;
    margin: 1rem;
  }
  @media screen and(max-width: 650px) {
    .sv-card {
      width: 90%;
    }
    .netspeed {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .netspeed .sub-v {
      font-size: 1.5rem;
    }
  }
</style>
{{if ts .CustomCode}} {{.CustomCode|safe}} {{end}}
<!-- 菜单 -->
{{template "common/menu" .}}
<div class="mdui-prose">
  <mdui-top-app-bar>
    <mdui-dialog class="noe-dialog">
      喜报，这里还没有功能喵~<br>
      <mdui-button class="noe-close-button">关闭</mdui-button>
    </mdui-dialog>
    <mdui-button-icon class="noe-open-button"><ion-icon name="apps-outline"></ion-icon></mdui-button-icon>
    <mdui-top-app-bar-title>{{.Title}}</mdui-top-app-bar-title>
    <div style="flex-grow: 1"></div>
    <mdui-dropdown>
      <mdui-button-icon slot="trigger"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></mdui-button-icon>
      <mdui-menu>
        {{if .Admin}}
        <a href="/server">
          <mdui-menu-item>管理后台</mdui-menu-item>
        </a>
        {{else}}
        <a href="/login">
        <mdui-menu-item>登录</mdui-menu-item>
        </a>
        {{end}}
      </mdui-menu>
    </mdui-dropdown>
  </mdui-top-app-bar>
  <div class="app">
    <mdui-tabs :value="def_val" style="margin: 1rem;">
       <mdui-tab v-for="group in groups" :value="group.Tag!==''?group.Tag:'{{tr "Default"}}'">@#(group.Tag!==''?group.Tag:'{{tr "Default"}}')#@</mdui-tab>
  
        <mdui-tab-panel slot="panel" v-for="group in groups" :value="group.Tag!==''?group.Tag:'{{tr "Default"}}'">
          <mdui-card class="sv-card" v-for="server in group.data" :id="server.ID">
            <div v-if="server.Host" style="margin-top: 10px; padding-bottom: 5px">
              <div class="sv-hd">
                <mdui-avatar class="country" :src="'https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/flag-icon-css/4.1.5/flags/1x1/' + (server.Host.CountryCode?server.Host.CountryCode:'cn') + '.svg'"></mdui-avatar>
                <mdui-tooltip :content="(server.Name + (server.live?'':'[{{tr "Offline"}}]'))">
                  <small style="width: 100%;font-size: 1.5rem;background-color: white;text-overflow:ellipsis;border-radius: 50px;padding-block: 2px;padding-inline: 10px;">@#server.Name + (server.live?'':'[{{tr "Offline"}}]')#@</small>
                </mdui-tooltip>
                <mdui-chip class="uptime">
                  <ion-icon class="ioic" name="time-outline"></ion-icon>
                  {{tr "Uptime"}}&nbsp;
                  @#secondToDate(server.State.Uptime)#@
                </mdui-chip>
              </div>
              <mdui-divider></mdui-divider>
              <div class="sv-desc">
                <!-- CPU -->
                <mdui-list slot="custom" class="cpu">
                  <mdui-list-subheader style="height: 2rem;line-height:2rem;">CPU</mdui-list-subheader>
                  <mdui-list-item>
                    <mdui-linear-progress :value="(formatPercent(server.live,server.State.CPU,100).percent)" max="100"></mdui-linear-progress>
                    <small>@#formatPercent(server.live,server.State.CPU,100).percent#@%</small>
                  </mdui-list-item>
                </mdui-list>
                <!-- 运存 -->
                <mdui-list slot="custom" class="memory">
                  <mdui-list-subheader style="height: 2rem;line-height:2rem;">{{tr "MemUsed"}}</mdui-list-subheader>
                  <mdui-list-item>
                    <mdui-linear-progress :value="(formatPercent(server.live,server.State.MemUsed, server.Host.MemTotal).percent)" max="100"></mdui-linear-progress>
                    <small>@#parseInt(server.State?server.State.MemUsed/server.Host.MemTotal*100:0)#@%</small>
                  </mdui-list-item>
                </mdui-list>
                <!-- SWAP -->
                <mdui-list slot="custom" class="swap">
                  <mdui-list-subheader style="height: 2rem;line-height:2rem;">{{tr "SwapUsed"}}</mdui-list-subheader>
                  <mdui-list-item>
                    <mdui-linear-progress :value="(formatPercent(server.live,server.State.SwapUsed, server.Host.SwapTotal).percent)" max="100"></mdui-linear-progress>
                    <small>@#parseInt(server.State?server.State.SwapUsed/server.Host.SwapTotal*100:0)#@%</small>
                  </mdui-list-item>
                </mdui-list>
                <!-- 网络 -->
                <mdui-list slot="custom" class="netspeed">
                  <mdui-list-subheader style="height: 2rem;line-height:2rem;">{{tr "NetSpeed"}}</mdui-list-subheader>
                  <mdui-list-item>
                    <mdui-chip class="sub-v" elevated>
                      <ion-icon class="ioic" name="arrow-up-circle-outline"></ion-icon>
                      @#formatByteSize(server.State.NetInSpeed)#@/s
                    </mdui-chip>
                    <mdui-chip class="sub-v" elevated>
                      <ion-icon class="ioic" name="arrow-down-circle-outline"></ion-icon>
                      @#formatByteSize(server.State.NetOutSpeed)#@/s
                    </mdui-chip>
                  </mdui-list-item>
                </mdui-list>
              </div>
            </div>
            <mdui-divider></mdui-divider>
            <div class="sv-info">
              <mdui-list>
                <mdui-collapse accordion>
                  <mdui-collapse-item>
                    <mdui-list-item slot="header">
                      <ion-icon class="ioic" name="information-circle-outline"></ion-icon>
                      详细信息
                    </mdui-list-item>
                    <mdui-list-item>
                      {{tr "Platform"}}: @#server.Host.Platform#@-@#server.Host.PlatformVersion#@
                      [<small
                        v-if="server.Host.Virtualization">@#server.Host.Virtualization#@:</small>@#server.Host.Arch#@]<br />
                      CPU: @#server.Host.CPU#@<br />
                      {{tr "DiskUsed"}}:
                      @#formatByteSize(server.State.DiskUsed)#@/@#formatByteSize(server.Host.DiskTotal)#@<br />
                      {{tr "MemUsed"}}:
                      @#formatByteSize(server.State.MemUsed)#@/@#formatByteSize(server.Host.MemTotal)#@<br />
                      {{tr "SwapUsed"}}:
                      @#formatByteSize(server.State.SwapUsed)#@/@#formatByteSize(server.Host.SwapTotal)#@<br />
                      {{tr "NetTransfer"}}: <i
                        class="arrow alternate circle down outline icon"></i>@#formatByteSize(server.State.NetInTransfer)#@<i
                        class="arrow alternate circle up outline icon"></i>@#formatByteSize(server.State.NetOutTransfer)#@<br />
                      {{tr "Load"}}: @# toFixed2(server.State.Load1) #@/@# toFixed2(server.State.Load5) #@/@#
                      toFixed2(server.State.Load15) #@<br />
                      {{tr "ProcessCount"}}: @# server.State.ProcessCount #@<br />
                      {{tr "ConnCount"}}: TCP @# server.State.TcpConnCount #@ / UDP @# server.State.UdpConnCount #@<br />
                      {{tr "BootTime"}}: @# formatTimestamp(server.Host.BootTime) #@<br />
                      {{tr "LastActive"}}: @# new Date(server.LastActive).toLocaleString() #@<br />
                      {{tr "Version"}}: @#server.Host.Version#@<br />
                    </mdui-list-item>
                  </mdui-collapse-item>
                </mdui-collapse>
              </mdui-list>
            </div>
          </mdui-card>
        </mdui-tab-panel>
    </mdui-tabs>
  </div>
  <mdui-snackbar class="connect-snackbar">WS连接建立</mdui-snackbar>
  <mdui-snackbar class="disconnect-snackbar">WS连接断开</mdui-snackbar>
</div>

<!-- 尾部 -->
{{template "common/footer" .}}
<script>
  document.querySelectorAll('.ui').forEach((e) => e.remove());
</script>
<script>
  const initData = JSON.parse('{{.Servers}}').servers;
  var statusCards = new Vue({
    el: '.app',
    delimiters: ['@#', '#@'],
    data: {
      data: initData,
      groups: [],
      cache: [],
    },
    created() {
      this.group()
    },
    methods: {
      toFixed2(f) {
        return f.toFixed(2)
      },
      isWindowsPlatform(str) {
        return str.includes('Windows')
      },
      getFontLogoClass(str) {
        if (["almalinux",
          "alpine",
          "aosc",
          "apple",
          "archlinux",
          "archlabs",
          "artix",
          "budgie",
          "centos",
          "coreos",
          "debian",
          "deepin",
          "devuan",
          "docker",
          "elementary",
          "fedora",
          "ferris",
          "flathub",
          "freebsd",
          "gentoo",
          "gnu-guix",
          "illumos",
          "kali-linux",
          "linuxmint",
          "mageia",
          "mandriva",
          "manjaro",
          "nixos",
          "openbsd",
          "opensuse",
          "pop-os",
          "raspberry-pi",
          "redhat",
          "rocky-linux",
          "sabayon",
          "slackware",
          "snappy",
          "solus",
          "tux",
          "ubuntu",
          "void",
          "zorin"].indexOf(str)
          > -1) {
          return str;
        }
        if (['openwrt', 'linux'].indexOf(str) > -1) {
          return 'tux';
        }
        if (str == 'amazon') {
          return 'redhat';
        }
        return '';
      },
      group() {
        this.groups = groupingData(this.data, "Tag")
        this.def_val = "{{tr "Default"}}";
        if (this.groups[0].Tag != '') this.def_val = this.groups[0]?.Tag;
      },
      formatPercent(live, used, total) {
        const percent = live ? (parseInt(used / total * 100) || 0) : -1
        if (!this.cache[percent]) {
          this.cache[percent] = {
            class: {
              ui: true,
              progress: true,
            },
            style: {
              'transition-duration': '300ms',
              'min-width': 'unset',
              width: percent + '% !important',
            },
            percent,
          }
          if (percent < 0) {
            this.cache[percent].style['background-color'] = 'slategray'
            this.cache[percent].class.offline = true
          } else if (percent < 51) {
            this.cache[percent].style['background-color'] = '#0a94f2'
            this.cache[percent].class.fine = true
          } else if (percent < 81) {
            this.cache[percent].style['background-color'] = 'orange'
            this.cache[percent].class.warning = true
          } else {
            this.cache[percent].style['background-color'] = 'crimson'
            this.cache[percent].class.error = true
          }
        }
        return this.cache[percent]
      },
      secondToDate(s) {
        var d = Math.floor(s / 3600 / 24);
        if (d > 0) {
          return d + " {{tr "Day"}}"
        }
        var h = Math.floor(s / 3600 % 24);
        var m = Math.floor(s / 60 % 60);
        var s = Math.floor(s % 60);
        return h + ":" + ("0" + m).slice(-2) + ":" + ("0" + s).slice(-2);
      },
      formatTimestamp(t) {
        return new Date(t * 1000).toLocaleString()
      },
      formatByteSize(bs) {
        const x = readableBytes(bs)
        return x != "NaN undefined" ? x : '0B'
      }
    }
  })

  function groupingData(data, field) {
    let map = {};
    let dest = [];
    data.forEach(item => {
      if (!map[item[field]]) {
        dest.push({
          [field]: item[field],
          data: [item]
        });
        map[item[field]] = item;
      } else {
        dest.forEach(dItem => {
          if (dItem[field] == item[field]) {
            dItem.data.push(item);
          }
        });
      }
    })
    return dest;
  }
</script>
<script>
  const wsProtocol = window.location.protocol == "https:" ? "wss" : "ws"
  const ws = new WebSocket(wsProtocol + '://' + window.location.host + '/ws');
  ws.onopen = function (evt) {
    document.querySelector(".disconnect-snackbar").open = false;
    document.querySelector(".connect-snackbar").open = true;
  }
  ws.onmessage = function (evt) {
    const oldServers = statusCards.servers
    const data = JSON.parse(evt.data)
    statusCards.servers = data.servers
    for (let i = 0; i < statusCards.servers.length; i++) {
      const ns = statusCards.servers[i];
      if (!ns.Host) ns.live = false
      else {
        const lastActive = new Date(ns.LastActive).getTime()
        if (data.now - lastActive > 10 * 1000) {
          ns.live = false
        } else {
          ns.live = true
        }
      }
    }
    statusCards.groups = groupingData(statusCards.servers, "Tag")
  }
  ws.onclose = function () {
    document.querySelector(".connect-snackbar").open = false;
    document.querySelector(".disconnect-snackbar").open = true;
    reconnect();
  }
  // 重连
  function reconnect() {
      setTimeout(function () {
        const ws = new WebSocket(wsProtocol + '://' + window.location.host + '/ws');
        ws.onopen = function (evt) {
          document.querySelector(".disconnect-snackbar").open = false;
          document.querySelector(".connect-snackbar").open = true;
        }
        ws.onmessage = function (evt) {
          const oldServers = statusCards.servers
          const data = JSON.parse(evt.data)
          statusCards.servers = data.servers
          for (let i = 0; i < statusCards.servers.length; i++) {
            const ns = statusCards.servers[i];
            if (!ns.Host) ns.live = false
            else {
              const lastActive = new Date(ns.LastActive).getTime()
              if (data.now - lastActive > 10 * 1000) {
                ns.live = false
              } else {
                ns.live = true
              }
            }
          }
          statusCards.groups = groupingData(statusCards.servers, "Tag")
        }
        ws.onclose = function () {
          document.querySelector(".connect-snackbar").open = false;
          document.querySelector(".disconnect-snackbar").open = true;
          reconnect()
        };
      }, 2000);
    }
  
  const openButton = document.querySelector(".noe-open-button");
  const closeButton = document.querySelector(".noe-close-button");
  const dialog = document.querySelector('.noe-dialog');
  openButton.addEventListener("click", () => dialog.open = true);
  closeButton.addEventListener("click", () => dialog.open = false);
</script>
{{end}}